.lolly-page__lolly-text{
  margin: 75px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 20px;
}

.lolly-page__lolly-text__lolly {
  display: flex;
  align-items: center;
  justify-content: center;
}
