.lolly-component__layout-main {
  min-height: 100vh;
  padding: 20px 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(33, 33, 43);
}
