.lolly-page__create {
  height: 740px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 20px;
}

.lolly-page__create-lolly {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .lolly-page__create-dialog .MuiPaper-root {
  background-color: #eeeeee !important;
} */

.lolly-page__create-dialog__typo .MuiTypography-h6 {
  font-family: "Pacifico", cursive !important;
  font-weight: bold;
  font-size: 27px;
}

.lolly-page__create-dialog__link {
  font-family: "Rancher", cursive;
  text-decoration: none;
  width: 100%;
  color: teal;
  font-weight: bold;
  margin-left: 15%;
  margin-top: 40px;
}
