.create-page__create {
  height: 740px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 20px;
}

.create-page__create-lolly {
  display: flex;
  align-items: center;
  justify-content: center;
}
