.lolly-page__create {
  padding: 20px 10vw;
  min-height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(33, 33, 43);
}
