.lolly-page__create {
  height: 740px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 20px;
}

.lolly-page__create-lolly {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lolly-page__create-lolly__color-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0px 10px 0px 20px;
}

.lolly-page__create-lolly__color-input span {
  height: 40px;
  width: 40px;
  border-radius: 24px;
  border: 2px solid #fff;
  display: block;
  overflow: hidden;
  margin: 30px;
  box-shadow: 0 0 14px #000;
}

.lolly-page__create-lolly__color-input input {
  margin-top: -10px;
  margin-left: -10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.lolly-page__create-lolly__color-input > * {
  border-radius: 100%;
}