.bookmark-page__index {
  padding: 20px 10vw;
  min-height: calc(100vh - 65px - 40px - 65px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.bookmark-page__index__bookmarks-list {
  margin-top: 55px;
  width: 50%;
  min-width: 400px;
}