* {
  font-family: "Rancher", cursive;
}

.bookmark-component__header {
  max-height: 60px;
  height: 60px;
  box-sizing: border-box;
  background-color: rgb(98, 182, 255);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1.5px solid rgba(1, 1, 1, 0.2);
}

.bookmark-component__header .bookmark-component__header-brand {
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  font-family: "Potta One", cursive;
  color: wheat;
  text-shadow: 0.2px 0.2px 2.5px rgba(1, 1, 1, 1);
}

.bookmark-component__container {
  padding: 0px 3vw;
  width: calc(100%);
  display: flex;
  align-items: center;
}

.bookmark-component__container .bookmark-component__header-links {
  margin-left: 30px;
}

.bookmark-component__header-links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: white;
  text-shadow: 0px 0px 2.5px rgba(1, 1, 1, 1);
  margin: 0px 10px;
}
