.bookmark-component__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  height: 60px;
  background-color: cornflowerblue;
}

.bookmark-component__footer h2 {
  color: white;
  text-shadow: 0px 0px 2.5px rgba(1, 1, 1, 1);
  font-family: "Pacifico", cursive;
  word-spacing: 4px;
  letter-spacing: 2px;
}
